* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.l-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .5s ease;
    background: $color-red;
}

